extends layout

block content
  .main.container.text-xs-center
    h1.display-3 A quick example of RESTFul app made with node
    p.lead Login-Logout Capabilities using Mongo and BCrypt
    a.btn.btn-info-outline.btn-lg(href='/register') Register here!
    p or
    a.btn.btn-info-outline.btn-lg(href='/login') Login here!
